* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.app_ {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100vw;
  margin-top: 3rem;
}
.normalize-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.side-logo-svg {
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 6px;
}
body {
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0;
  color: #fff;
  text-rendering: optimizeLegibility;
}
.game-list-container {
  justify-content: center;
}
.games-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fill, 300px);
}

.game-card {
  max-width: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  margin: 1rem;
}

.video-container {
  max-width: 100%;
}
.search-form-controll {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.date-form-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.game-card-info {
  padding-left: 5px;
}

.rating-info {
  display: flex;
}
.rating-number {
  font-size: 24px;
  float: right;
  color: rgb(255, 255, 255);
}
img {
  width: 100%;
  height: auto;
}
video {
  width: 100%;
  height: auto;
}
